* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primary-color);
  background-color: var(--bgcolor);
  /* background-color à enlever ? */
}
:root {
  --bgcolor: #141414;
  --primary-color: #f0eeee;
}
.cards-display {
  display: flex;
  margin-top: 1rem;
  /* margin-top à conserver ? */
}

h2 {
  padding-top: 2rem;
  /* padding à conserver ? sinon le h2 de la home page s'affiche collé au header */
}
