footer {
  background-color: var(--bgcolor);
  max-width: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer > .join {
  display: flex;
  align-items: center;
}

footer > div > .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3rem;
}

footer > .join > .logo > img {
  height: 15rem;
  width: 15rem;
}

footer > div > div > .community {
  background-color: white;
  color: var(--bgcolor);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
  border: 2px white solid;
  padding: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

nav > div > h3 {
  color: white;
  margin-bottom: 0.5rem;
}

nav > div > ul {
  list-style: none;
}

nav > div > ul > li {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

nav > div > ul > li > a {
  text-decoration: none;
  color: white;
}

.copyright {
  color: white;
  padding: 2rem;
}
