.movieCard {
  display: flex;
  flex-direction: column;
  width: 12rem;
  padding: 1rem;
}

.img-movie-card {
  border-radius: 16px;
}

#rate {
  display: flex;
  background: linear-gradient(#00ff00, #00a927);
  border-radius: 50%;
  aspect-ratio: 1;
  width: 3rem;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -1.5rem;
  left: 1rem;
  font-size: 0.9rem;
}

.movie-title-card {
  font-size: 1rem;
  margin-top: -1rem;
  font-weight: 500;
}

.movie-year-card {
  font-size: 0.8rem;
  opacity: 0.5;
}
