.poster {
  height: 30rem;
  margin: 2rem;
  border-radius: 10px;
}
.detailscards {
  display: flex;
  margin-left: 0rem;
}

.right {
  padding: 4rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.namedetails {
  padding: 2rem;
  border: solid 1px white;
  width: fit-content;
  padding: 0.5rem;
  margin-left: 2rem;
  border-radius: 10px;
}
.profilepic {
  border-radius: 16px;
  height: 15rem;
}

.cardcast {
  display: flex;
  flex-direction: column;
}

.cardscasting {
  display: flex;
  margin: 3rem;
  gap: 4rem;
}

.cast2 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 6rem;
}

.titlecast {
  margin: 2rem;
  margin-left: 6rem;
}

.infos-movie {
  display: flex;
  gap: 0.3rem;
}

.tagline {
  opacity: 0.7;
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
}

.rate {
  display: flex;
  background: linear-gradient(#00ff00, #00a927);
  border-radius: 50%;
  aspect-ratio: 1;
  width: 3rem;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -1.5rem;
  left: 1rem;
  font-size: 0.9rem;
}

.left {
  margin-left: 4rem;
  margin-top: 2rem;
}

.filmo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20ch;
}

.filmotitle {
  margin-left: 6rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.castname {
  font-size: 1rem;
  margin-top: -1rem;
  font-weight: 500;
  max-width: 15ch;
  margin-top: 2rem;
}

.cardcast {
  display: flex;
  align-items: center;
}

.movie-details {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}
