/* Style global de la nav */
.navbar {
  background: var(--bgcolor);
  display: flex;
  justify-content: space-around; /* Espacement entre le logo/liens et la barre de recherche */
  align-items: center;
}

/* Conteneur du logo */
.logo {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

/* Taille et espacement du logo */
.logo > img {
  height: 4rem;
}

/* Liste des liens */
.link-nav > ul {
  display: flex;
  list-style: none;
}

.link-nav > ul > li {
  margin-right: 20px; /* Espacement entre les liens */
}

/* Style des liens */
.link-nav > ul > li > a {
  text-decoration: none;
  font-size: 16px;
}

/* Conteneur de la barre de recherche */
.searchnav {
  display: flex;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
}

.input-navbar {
  width: 12rem; /* Largeur de la barre de recherche */
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}

.searchnav > input::placeholder {
  opacity: 0.8;
}
