.popular-movie-title {
  padding: 2rem 0 0 3rem;
}

.container {
  padding: 0 9rem 0 9rem;
}

.all-cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  background-image: url("https://www.themoviedb.org/assets/2/v4/misc/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.all-cards-trailer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: transparent;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

/* iPhone 12 Pro */

@media screen and (max-width: 390px) {
  .popular-movie-title {
    padding: 1rem 0 0 2rem;
    font-size: 1.5rem;
  }
  .container {
    padding: 0rem;
  }
}
