.popular-movie-title {
  padding: 2rem 0 0 3rem;
}

.container {
  padding: 0 9rem 0 9rem;
}

.all-cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: transparent;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

/* iPhone 12 Pro */

@media screen and (max-width: 390px) {
  .popular-movie-title {
    padding: 1rem 0 0 2rem;
    font-size: 1.5rem;
  }
  .container {
    padding: 0rem;
  }
}
